<ion-view view-title="Premium" cache-view="false">
  <ion-content>
    <div class="premium-box">
      <div class="list ">
        <div class="item item-body" ng-repeat="list in packages">
          <h4 class="q-head">
            <a href="javascript:;">{{list.days}}</a>
          </h4>
          <p class="content-for-premium">
            {{list.description}}
          </p>
          <button button type="button" ng-click="getMembership(list.id)">Buy</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>