<ion-view cache-view="false" view-title="Forgot">
  <ion-content class="login-main-wrap">
     <div class="top_logo">
       <img src="img/logo.png">
     </div>     
     <form name="forgotForm" id="forgotForm" ng-submit="forgot(forgotForm.$valid)" class="login-form" novalidate >
      <div class="list">
       <div class="password-vali">
          <label class="item item-input">
          <span class="input-label"><img class="mail-img" width="25px" src="img/mail_icon.png"></span>
          <input type="email" required name="user_email" ng-model="forgotData.user_email" placeholder="Enter your emailId">
        </label>
        <span ng-show="submitted && forgotForm.user_email.$error.required" class="validation-login popup-forvalidation">Please enter emailId</span>
        <span ng-show="submitted && forgotForm.user_email.$error.email" class="validation-login popup-forvalidation">Please enter valid emailId</span>
       </div>        
        <label class="login_btn">
          <button type="submit" ng-click="submitted = true" class="button button-block button-positive">Send</button>
          <!--<a class="button button-block button-positive"   href="#/app/playlists">Log in</a>-->
        </label>
        <h4 class="register-pagelink">Already have an account?<a href="#/login"> Sign in here.</a></h4>
      </div>
    </form>
  </ion-content>
</ion-view>
