<ion-view view-title="Add Question" cache-view="false">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-arrow-left-c headerbuttonStaff" ng-click="goback()"></button>
	</ion-nav-buttons>
	<ion-nav-title>
		<ion-title style="color:white;">Add Question</ion-title>
	</ion-nav-title>
	<ion-content>
		<div class="add_q_box" style="width:100%;">
			<form name="addQueForm" id="addQueForm" ng-submit="addQue(addQueForm.$valid)" novalidate>
				<div class="list list-inset">
					<label class="item item-input">
						<input type="text" ng-maxlength="250" placeholder="Title" name="post_title" ng-model="addQueData.post_title" required>
					</label>
					<span ng-show="submitted && addQueForm.post_title.$error.required" class="error-color">Please enter title</span>
					<span ng-show="submitted && addQueForm.post_title.$error.maxlength" class="error-color">Title should be max 250 char.</span>
					<label class="item item-input">
						<textarea name="post_description" ng-model="addQueData.post_description" required placeholder="Description"></textarea>
					</label>
					<span ng-show="submitted && addQueForm.post_description.$error.required" class="error-color">Please enter description.</span>
					<label class="item item-input item-select">
						<div class="input-label">
							category
						</div>
						<select ng-model="addQueData.post_category_id" name="post_category_id" required>
							<option value="">Select Category</option>
							<option ng-repeat="category in categories" value="{{category.id}}">{{category.category_name}}</option>
						</select>
					</label>
					<span ng-show="submitted && addQueForm.post_category_id.$error.required" class="error-color">Please select category</span>
					<label class="item item-input item-select">
						<div class="input-label">
							Priority
						</div>
						<select required name="post_priority" ng-model="addQueData.post_priority">
							<option value=""> Seleect Priority</option>
							<option value="1">Normal</option>
							<option value="2">High</option>
							<option value="3">Critical</option>
						</select>
					</label>
					<span ng-show="submitted && addQueForm.post_priority.$error.required" class="error-color">Please select priority</span>
					<h4>Location</h4>
					<div class="gender-box add-q-gender-box">
						<div class="">
							<div class="row">
								<div class="col ">
									<ion-radio name="location_type" ng-model="locationtype" ng-click="checkLocation('enter')" value="enter">Enter Location</ion-radio>
								</div>
								<div class="col">
									<ion-radio name="location_type" ng-click="checkLocation('current');" value="current" ng-model="locationtype" checked>Current Location</ion-radio>
								</div>
							</div>
						</div>
					</div>
					<!-- <input type="radio" name="location_type" ng-click="checkLocation('current')" value="current" ng-model="locationtype" checked>Current Location
					<br />
					<input type="radio" name="location_type" ng-model="locationtype" ng-click="checkLocation('enter')" value="enter">Enter Location -->
					<div ng-if="locationtype =='enter'">
						<label class="item item-input" ng-if="locationtype =='enter'">
							<input style="border-left:none;" type="text" id="pac-input" placeholder="Location" required name="formatted_address" location-suggestion location="location"
							 value="{{location.formatted_address}}" ng-model="location.formatted_address">
						</label>
						<span ng-show="submitted && addQueForm.formatted_address.$error.required" class="error-color">Please enter address.</span>
					</div>
					<div ng-if="locationtype =='current'">
						<label class="item item-input" ng-if="locationtype =='current'">
							<input style="border-left:none;"  type="text" id="cur-input" placeholder="Location" name="current_location" required value="{{location.current_location}}"
							 ng-model="location.current_location">
						</label>
						<span ng-show="submitted && addQueForm.current_location.$error.required" class="error-color">Please enter address.</span>
					</div>
					<button class="button button-dark" style="width: 100%" type="submit" ng-click="submitted=true">
						Submit
					</button>
				</div>
			</form>
		</div>
	</ion-content>
	<script id="location.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" ng-model="search.query" placeholder="Search">
        </label>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item ng-show="search.error">
            {{search.error}}
          </ion-item>
          <ion-item ng-repeat="suggestion in search.suggestions" ng-click="choosePlace(suggestion)">
            {{suggestion.description}}
          </ion-item>
        </ion-list>
        <img src="https://developers.google.com/maps/documentation/places/images/powered-by-google-on-white.png" alt="" />
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>