<ion-view view-title="Question Detail" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-arrow-left-c headerbuttonStaff" ng-click="goback()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <ion-title style="color:white;font-size: 19px;
    line-height: 44px;
    width: 100%;
    text-align: left;
    padding-left: 20px;">Question Detail</ion-title>
  </ion-nav-title>  
  <ion-content ng-init="postDetail()">
    <div class="q-deatils-box">
      <div class="posted-user-pro">
        <img class="user-cmt-profile" ng-if="detail.user_profile==''" src="img/profile_ico.png">
        <img class="user-cmt-profile" ng-if="detail.user_profile!==''" src="{{detail.user_profile}}">
        <div class="text-rpo-in">
          <h4>{{detail.user_fullname}}</h4>
          <p>{{detail.post_datetime}}</p>
        </div>
        <div class="like-dislike">
          <ul>
            <li ng-if="detail.is_bookmark == 2" ng-click="bookmark(1)">
              <a href="javascript:;">
                <img width="30px" src="img/bookmark_button.png">
              </a>
            </li>
            <li ng-if="detail.is_bookmark == 1" ng-click="bookmark(2)">
              <a href="javascript:;">
                <img width="30px" src="img/bookmark_button_feel.png">
              </a>
            </li>
            <li>
              <a href="javascript:;" ng-click="likeUnlike(1)" ng-if="detail.like_type == 2 || detail.like_type == 0">
                <img width="25px" src="img/like.png">
                <span>{{detail.likes}}</span>
              </a>
              <a href="javascript:;" ng-if="detail.like_type == 1">
                <img width="25px" src="img/like_feel.png">
                <span>{{detail.likes}}</span>
              </a>
            </li>
            <li class="dislike-li">
              <a href="javascript:;" ng-click="likeUnlike(2)" ng-if="detail.like_type == 1 || detail.like_type == 0">
                <img width="25px" src="img/dislike.png">
                <span>{{detail.unlike}}</span>
              </a>
              <a href="javascript:;" ng-if="detail.like_type == 2">
                <img width="25px" src="img/dislike_feel.png">
                <span>{{detail.unlike}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="second-box-for-q-d">
      <h4 class="q-head">{{detail.post_title}}</h4>
      <p class="q-para">{{detail.post_description}}</p>
      <div class="row">
        <div class="col">
          <div class="share-chat-btn-q-d">
            <button ng-click="shareLink()" class="button button-small send">
              Share
            </button>
            <button class="button button-small button-stable chat">
              Chat
            </button>
          </div>
        </div>
        <div class="col">
          <div class="more-op--btn-q-d">
            <ul>
              <li ng-if="userid == detail.user_id" ng-click="">
                <a href="javascript:;" ng-click="modal.show()">Help</a>
              </li>
              <li>
                <a href="javascript:;" ng-if="userid != detail.user_id" ng-click="reportPopUp()">Report </a>
              </li>
              <li ng-if="userid == detail.user_id">
                <a href="javascript:;" ng-click="deletePost()">Remove </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-lest-q-d">
      <h4 class="total-user-head" ng-if="detail.comments">Total Reply({{detail.comments.length}})</h4>
      <div class="list">
        <div class="item item-thumbnail-left" ng-repeat="cmnt in detail.comments">
          <img width="50px" src="img/profile_ico.png" ng-if="cmnt.user_profile ==''">
          <img width="50px" src="{{cmnt.user_profile}}" ng-if="cmnt.user_profile !==''">
          <h2>{{cmnt.user_fullname}}</h2>
          <p>{{cmnt.comment}}</p>
          <div class="like-reply-box-c">
            <ul>
              <li>
                <a href="javascript:;" ng-click="likeCmnt(cmnt.id, 1)">Like
                  <span style="color: gray;">({{cmnt.likes}})</span>
                </a>
              </li>
              <li>
                <a href="javascript:;" ng-click="likeCmnt(cmnt.id, 2)">UnLike
                  <span style="color: gray;">({{cmnt.unlikes}})</span>
                </a>
              </li>
              <li>
                <a href="javascript:;" ng-click="reply(cmnt.id)">Reply </a>
              </li>
              <li ng-if="userid == cmnt.user_id">
                <a href="javascript:;" ng-click="deleteCmnt(cmnt.id)">Remove Comment </a>
              </li>
            </ul>
          </div>
          <span class="date">{{cmnt.comment_before}}</span>
          <div class="reply-box-comment-list list" ng-if="cmnt.replies">
            <div class="reply item item-thumbnail-left" ng-repeat="replies in cmnt.replies">
              <img width="50px" src="img/profile_ico.png" ng-if="replies.user_profile ==''">
              <img width="50px" src="{{replies.user_profile}}" ng-if="replies.user_profile !==''">
              <h2>{{replies.user_fullname}}</h2>
              <p>{{replies.reply}}</p>
              <div class="like-reply-box-c">
                <ul>
                  <li ng-if="userid == replies.user_id">
                    <a href="javascript:;" ng-click="deleteReply(replies.id)">Remove Reply </a>
                  </li>
                </ul>
              </div>
              <span class="date">{{replies.reply_before}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post-comment-input">
      <h4 class="add-cmt-head">Add Comment</h4>
      <label class="item item-input">
        <textarea placeholder="Comment" ng-model="postData.comment" style="background-color: #EDF2F6;"></textarea>
      </label>
      <button class="button button-dark q-d-submit-btn" type="button" ng-click="addComment()" style="width: 100%;background-color: #E44A30;color: #fff;margin-bottom: 20px;border-radius: 0px;">
        Comment
      </button>
    </div>
  </ion-content>

  <script id="modal.html" type="text/ng-template">
    <div class="modal">
      <header class="bar bar-header bar-positive">
          <div ng-click="saveHelp()" class="button button-clear"><span class="ion-checkmark-round"></span></div>
        <h1 class="title">Select Users</h1>
        <div class="button button-clear" ng-click="modal.hide()"><span class="ion-android-close"></span></div>
      </header>
      <content has-header="true" padding="true">
          <div style="display:none" mobiscroll-form>
              <div class="mbsc-form-group custom-mbsc-box">
                <div class="mbsc-form-group-title">Users</div>
                <label>
                  <input ng-model="localData.id" mobiscroll-select="settings">
                </label>
              </div>
              <div ng-if="selectedUser">
                <div ng-repeat="user in selectedUser" class="list-for-customes">
                  <div >{{user.text}} <a href="javascript:;" ng-click="removeUser($index)" class="remove-user-btn" style="float:right;">Remove</a></div>
                </div>
              </div>
          </div>
          <!--<div class="save-button-help text-center">
            <button ng-click="saveHelp()">Save</button>
          </div>-->
      </content>
    </div>
  </script>
</ion-view>