<ion-view view-title="Add Question" cache-view="false">
  <ion-content ng-init="selectCategory()">
		<form name="addQueForm" id="addQueForm" ng-submit="addQue(addQueForm.$valid)" novalidate>
   <div class="add_q_box">
     	<div class="list list-inset">
			  <label class="item item-input">
			    <input type="text" placeholder="Title" name="post_title" ng-model="addQueData.post_title" required>
				</label>
				<span ng-show="submitted && addQueForm.post_title.$error.required" class="error-color">Please enter title</span>
			  <label class="item item-input">
			    <textarea name="post_description" ng-model="addQueData.post_description" required placeholder="Discription" style="background-color: #EDF2F6;"></textarea>
				</label>
				<span ng-show="submitted && addQueForm.post_description.$error.required" class="error-color">Please enter description.</span>
			  <label class="item item-input item-select">
			    <div class="input-label">
			      category
			    </div>
			    <select ng-model="addQueData.post_category_id" name="post_category_id" required>
			    	<option value="">Select Category</option>
			      <option ng-repeat="category in categories" value="category.id">{{category.category_name}}</option>
			    </select>
				</label>
				<span ng-show="submitted && addQueForm.post_category_id.$error.required" class="error-color">Please select category</span>
			  <label class="item item-input item-select">
			    <div class="input-label">
			      Priority
			    </div>
			    <select required name="post_priority" ng-model="addQueData.post_priority">
			    	<option value=""> Seleect Priority</option>
			      <option value="1">Normal</option>
			      <option value="2">High</option>
			      <option value="3">Critical</option>
			    </select>
				</label>
				<span ng-show="submitted && addQueForm.post_priority.$error.required" class="error-color">Please select priority</span>
			  <label class="item item-input">
			    <input type="text" placeholder="Address" name="post_location" ng-model="addQueData.post_location">
				</label>
				<span ng-show="submitted && addQueForm.post_location.$error.required" class="error-color">Please enter address</span>
			  <button class="button button-dark" style="width: 100%" type="submit" ng-click="submitted=true">
			  Submit
			</button>
        </div>
		 </div>
		</form>
  </ion-content>
</ion-view>
