<ion-view view-title="Question Detail" cache-view="false">
   <ion-content ng-init="postDetail()">
      <div class="q-deatils-box">
         <div class="posted-user-pro">
            <img ng-if="detail.user_profile==''" src="img/profile_ico.png">
            <img ng-if="detail.user_profile!==''" src="{{detail.user_profile}}">
            <div class="text-rpo-in">
               <h4>{{detail.user_fullname}}</h4>
               <p>{{detail.post_datetime}}</p>
            </div>
            <div class="like-dislike">
               <ul>
                  <li><a href="javascript:;"><img width="30px" src="img/send.png"><span>15</span></a></li>
                  <li><a href="javascript:;"><img width="30px" src="img/bookmark_button.png"><span>25</span></a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="second-box-for-q-d">
         <h4 class="q-head">{{detail.post_title}}</h4>
         <p class="q-para">{{detail.post_description}}</p>
         <div class="row">
            <div class="col">
               <div class="share-chat-btn-q-d">
                  <button class="button button-small send">
                  Send
                  </button>
                  <button class="button button-small button-stable chat">
                  Chat
                  </button>
               </div>
            </div>
            <div class="col">
               <div class="more-op--btn-q-d">
                  <ul>
                     <li><a href="">Help</a></li>
                     <li><a href="">Report </a></li>
                     <li><a href="">Remove </a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="comment-lest-q-d">
         <div class="list">
            <div class="item item-thumbnail-left" href="#">
               <img width="50px" src="img/profile_ico.png">
               <h2>Pretty Hate</h2>
               <p>Nine Inch Nails</p>
               <div class="like-reply-box-c">
                  <ul>
                     <li><a href="">Like <span style="color: gray;">(25)</span></a></li>
                     <li><a href="">Reply  </a></li>
                  </ul>
               </div>
               <span class="date"> 9 Day ago</span>
            </div>
            <div class="item item-thumbnail-left" href="#">
               <img width="50px" src="img/profile_ico.png">
               <h2>Pretty Hate</h2>
               <p>Nine Inch Nails</p>
               <div class="like-reply-box-c">
                  <ul>
                     <li><a href="">Like <span style="color: gray;">(25)</span></a></li>
                     <li><a href="">Reply  </a></li>
                  </ul>
               </div>
               <span class="date"> 9 Day ago</span>
               <div class="reply-box-comment-list list">
                  <div class="reply item item-thumbnail-left" href="#">
                     <img width="50px" src="img/profile_ico.png">
                     <h2>Pretty Hate</h2>
                     <p>Nine Inch Nails</p>
                  </div>
               </div>
            </div>
            <div class="item item-thumbnail-left" href="#">
               <img width="50px" src="img/profile_ico.png">
               <h2>Pretty Hate</h2>
               <p>Nine Inch Nails</p>
               <div class="like-reply-box-c">
                  <ul>
                     <li><a href="">Like <span style="color: gray;">(25)</span></a></li>
                     <li><a href="">Reply  </a></li>
                  </ul>
               </div>
               <span class="date"> 9 Day ago</span>
            </div>
         </div> 
      </div>
      <div class="post-comment-input">
             <h4 class="add-cmt-head">Add Comment</h4>
        <label class="item item-input">                
                <textarea placeholder="Discription" style="background-color: #EDF2F6;"></textarea>
              </label>
          <button style="background-color: #E44A30;width: 100%;" class="button button-dark" style="width: 100%">
              Post
            </button>
         </div>
   </ion-content>
</ion-view>

