<ion-view view-title="Change Password">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-arrow-left-c headerbuttonStaff" ng-click="goback()"></button>
  </ion-nav-buttons>
  <ion-content class="change-pass-wrap">
    <form name="changePwdForm" id="changePwdForm" class="login-form change-pass-from-box" ng-submit="changePwd(changePwdForm.$valid)">
      <div class="change-pass-box">
        <div class="list list-inset">
          <div class="password-vali">
            <label class="item item-input">
              <i class="">
                <img src="img/passwod_icon.png" width="30px">
              </i>
              <input type="password" name="user_oldpwd" ng-model="changePwdData.user_oldpwd" required placeholder="Old Password">
            </label>
            <span ng-show="submitted && changePwdForm.user_oldpwd.$error.required" class="error-color">Please enter old password.</span>
          </div>
          <div class="password-vali">
            <label class="item item-input">
              <i class="">
                <img src="img/passwod_icon.png" width="30px">
              </i>
              <input type="password" name="user_newpwd" ng-model="changePwdData.user_newpwd" required placeholder="New Password">
            </label>
            <span ng-show="submitted && changePwdForm.user_newpwd.$error.required" class="error-color">Please enter new password.</span>
          </div>
          <div class="password-vali">
            <label class="item item-input">
              <i class="">
                <img src="img/passwod_icon.png" width="30px">
              </i>
              <input type="password" id="password_c" name="password_c" ng-model="changePwdData.password_c" placeholder="Confirm Password"
                valid-password-c="changePwdData.user_newpwd" required />
            </label>
            <span ng-show="submitted && changePwdForm.password_c.$error.noMatch" class="error-color">Confirm password does not match.</span>
          </div>
          <button type="submit" ng-disabled="!changePwdForm.$valid" ng-click="submitted = true" class="button button-dark" style="width: 100%;background-color: #E44A30;color: #fff;margin-bottom: 20px;border-radius: 0px;">
            Update
          </button>
        </div>
      </div>
  </ion-content>
</ion-view>