<ion-view view-title="{{username}}" cache-view="false" ng-init="chatDetail()">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-arrow-left-c headerbuttonStaff" ng-click="goback()"></button>
  </ion-nav-buttons>
  <ion-content class="content-stable" on-swipe-left="hideTime = false" on-swipe-right="hideTime = true">
    <div ng-repeat="message in messages" ng-class="{other: message.from_user_id != userData.user_id}" class="messages">      
      <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
        <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.datetime}}</div>
        <span class="chat-text">{{ message.msg }}</span>

      </div>
      
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset chatinput-box">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()"
        on-blur="inputDown()" />
    </label>
    <button class="button button-clear send-button-msg" ng-click="sendMessage()">
      <i class="ion-ios-paperplane"></i>
    </button>
  </ion-footer-bar>
  </ion-pane>
</ion-view>