<ion-view view-title="Dashboard">
  <ion-content >
    <div class="q-box">
    	<div class="left-q-sec">
    		<h4>1. What do you want to do on your first day of retirement?</h4>
    	<p class="small-desk">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  standard 1500s.</p>
    	<div class="posted-user-pro">
    		<img src="img/profile_ico.png">
    		 <div class="text-rpo-in">
			    
			    <h4>Pretty Hate</h4>
			    <p>12/09/2017</p>
			  </div>
    	</div>
    	<div class="bookmark-and-share">
    		<ul>
    			<li><a href=""><img width="30px" src="img/send.png"></a></li>
    			<li><a href=""><img width="30px" src="img/bookmark_button.png"></a></li>
    		</ul>
    	</div>
    	</div>
    	<div class="right-q-sec">
    		<ul>
    			<li><a href=""><img width="20px" src="img/comment.png"></a><span>25</span></li>
    			<li><a href=""><img width="25px" src="img/like.png"></a><span>15</span></li>
    			<li><a href=""><img width="20px" src="img/dislike.png"></a><span>58</span></li>
    		</ul>
    	</div>
    </div>


     <div class="q-box">
    	<div class="left-q-sec">
    		<h4>1. What do you want to do on your first day of retirement?</h4>
    	<p class="small-desk">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  standard 1500s.</p>
    	<div class="posted-user-pro">
    		<img src="img/profile_ico.png">
    		 <div class="text-rpo-in">
			    
			    <h4>Pretty Hate</h4>
			    <p>12/09/2017</p>
			  </div>
    	</div>
    	<div class="bookmark-and-share">
    		<ul>
    			<li><a href=""><img width="30px" src="img/send.png"></a></li>
    			<li><a href=""><img width="30px" src="img/bookmark_button.png"></a></li>
    		</ul>
    	</div>
    	</div>
    	<div class="right-q-sec">
    		<ul>
    			<li><a href=""><img width="20px" src="img/comment.png"></a><span>25</span></li>
    			<li><a href=""><img width="25px" src="img/like.png"></a><span>15</span></li>
    			<li><a href=""><img width="20px" src="img/dislike.png"></a><span>58</span></li>
    		</ul>
    	</div>
    </div>

     <div class="q-box">
    	<div class="left-q-sec">
    		<h4>1. What do you want to do on your first day of retirement?</h4>
    	<p class="small-desk">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  standard 1500s.</p>
    	<div class="posted-user-pro">
    		<img src="img/profile_ico.png">
    		 <div class="text-rpo-in">
			    
			    <h4>Pretty Hate</h4>
			    <p>12/09/2017</p>
			  </div>
    	</div>
    	<div class="bookmark-and-share">
    		<ul>
    			<li><a href=""><img width="30px" src="img/send.png"></a></li>
    			<li><a href=""><img width="30px" src="img/bookmark_button.png"></a></li>
    		</ul>
    	</div>
    	</div>
    	<div class="right-q-sec">
    		<ul>
    			<li><a href=""><img width="20px" src="img/comment.png"></a><span>25</span></li>
    			<li><a href=""><img width="25px" src="img/like.png"></a><span>15</span></li>
    			<li><a href=""><img width="20px" src="img/dislike.png"></a><span>58</span></li>
    		</ul>
    	</div>
    </div>

     <div class="q-box">
    	<div class="left-q-sec">
    		<h4>1. What do you want to do on your first day of retirement?</h4>
    	<p class="small-desk">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  standard 1500s.</p>
    	<div class="posted-user-pro">
    		<img src="img/profile_ico.png">
    		 <div class="text-rpo-in">
			    
			    <h4>Pretty Hate</h4>
			    <p>12/09/2017</p>
			  </div>
    	</div>
    	<div class="bookmark-and-share">
    		<ul>
    			<li><a href=""><img width="30px" src="img/send.png"></a></li>
    			<li><a href=""><img width="30px" src="img/bookmark_button.png"></a></li>
    		</ul>
    	</div>
    	</div>
    	<div class="right-q-sec">
    		<ul>
    			<li><a href=""><img width="20px" src="img/comment.png"></a><span>25</span></li>
    			<li><a href=""><img width="25px" src="img/like.png"></a><span>15</span></li>
    			<li><a href=""><img width="20px" src="img/dislike.png"></a><span>58</span></li>
    		</ul>
    	</div>
    </div>
  </ion-content>
</ion-view>
