<ion-view view-title="Playlist" cache-view="false">
  <ion-content class="login-main-wrap">
     <div class="top_logo">
       <img src="img/logo.png">
     </div>
     <h4 class="lgoin-text-h4">Signin with social network</h4>
     <div class="social_icon_box">
       <ul>
         <li><a href="javascript:;" ng-click="facebooklogin()"><img src="img/fb_icon.png"></a></li>
         <li><a href="javascript:;" ng-click="googlelogin()"><img src="img/gplus_icon.png"></a></li>
       </ul>
     </div>
     <div class="divder-social">
       <hr>
       <span>OR</span>
     </div>
     <form name="loginForm" id="loginForm" ng-submit="login(loginForm.$valid)" class="login-form" novalidate >
      <div class="list">
        <div class="email-vali">
          <label class="item item-input">
          <span class="input-label"><img class="mail-img" width="25px" src="img/mail_icon.png"></span>
          <input type="email" required name="user_email" ng-model="loginData.user_email" placeholder="Email">
        </label>
        <span ng-show="submitted && loginForm.user_email.$error.required" class="validation-login popup-forvalidation">Please enter emailId</span>
        <span ng-show="submitted && loginForm.user_email.$error.email" class="validation-login popup-forvalidation ">Please enter valid emailId</span>
        </div>
        <div class="password-vali">
          <label class="item item-input">
          <span class="input-label"><img class="pass-icon" width="20px" src="img/passwod_icon.png"></span>
          <input type="password" id="password"  name="user_pwd" placeholder="Password" ng-model="loginData.user_pwd" required placeholder="Password">
        </label>
        <span ng-show="submitted && loginForm.user_pwd.$error.required" class="validation-login popup-forvalidation">Please enter password</span>
        </div>
        <label class="login_btn">
          <button type="submit" ng-click="submitted = true" class="button button-block button-positive">Login</button>
          <!--<a class="button button-block button-positive"   href="#/app/playlists">Log in</a>-->
        </label>

        <h5 class="forgot-link"><a href="#/forgot_pwd">Forgot Password?</a></h5>
      </div>
      <h4 class="register-pagelink">Don’t have an account?<a href="#/signup"> Sign Up here.</a></h4>
    </form>
  </ion-content>
</ion-view>
