<ion-view view-title="Bookmarks" cache-view="false">
	<ion-content>
		<div class="dashboard-wrap">
			<div class="q-box" ng-repeat="list in bookmarks">
				<div class="left-q-sec">
					<div ng-click="detail(list.id)">
						<h4>{{list.post_title}}</h4>
						<p class="small-desk">{{list.post_description}}</p>
						<div class="posted-user-pro">
							<img class="user-cmt-profile" ng-if="list.user_profile ==''" src="img/profile_ico.png">
							<img class="user-cmt-profile" ng-if="list.user_profile !==''" src="{{list.user_profile}}">
							<div class="text-rpo-in">
								<h4>{{list.user_fullname}}</h4>
								<p>{{list.post_datetime}}</p>
							</div>
						</div>
					</div>
					<div class="bookmark-and-share">
						<ul>
							<li ng-click="shareLink()">
								<a href="javascript:;">
									<img width="30px" src="img/send.png">
								</a>
							</li>
							<!-- <li ng-if="list.is_bookmark == 2" ng-click="bookmark(1, list.id)">
								<a href="javascript:;">
									<img width="30px" src="img/bookmark_button.png">
								</a>
							</li>
							<li ng-if="list.is_bookmark == 1" ng-click="bookmark(2, list.id)">
								<a href="javascript:;">
									<img width="30px" src="img/bookmark_button.png">
								</a>
							</li> -->
						</ul>
					</div>
				</div>
				<div class="right-q-sec">
					<ul>
						<li>
							<a href="javascript:;">
								<img width="20px" src="img/comment.png">
							</a>
							<span>{{list.totalcmnt}}</span>
						</li>
						<li ng-click="likeUnlike(1, list.id)">
							<a href="javascript:;" class="{{(list.like_type == 1) ? 'disable' : '' }}">
								<img width="25px" src="img/like.png">
							</a>
							<span>{{list.likes}}</span>
						</li>
						<li ng-click="likeUnlike(2, list.id)">
							<a href="javascript:;" class="{{(list.like_type == 2) ? 'disable' : '' }}">
								<img width="20px" src="img/dislike.png">
							</a>
							<span>{{list.unlike}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
	</ion-content>
</ion-view>